@import "~bootstrap/scss/bootstrap";
@import "scss/_variables";
@import "scss/_typeset";
@import "scss/_header";
@import "scss/_sidebar";
@import "scss/_contact";
@import "scss/_latest";
@import "scss/_hero";
@import "scss/_works";
@import "scss/_about";
@import "scss/_button";
@import "scss/_passion";


*{
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Gotham', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
