
  .about-container {
    position: relative;
    // height: 100vh;
    justify-content: center;
    background-image: url('../assets/images/background.png');
    background-attachment: fixed;
    background-size: cover;
    
    .about{
      position: absolute;
      left: 5%;
      top: 0;

      .imgSide{
        max-height: 100%;
        width: 550px;
        margin-top: 35%;
        z-index: 0;
        // padding-left: 10%;
      }
     
      h1{
        position: absolute;
        margin-top: 10%;
        display: block;
        z-index: 99;
      }
      
      .image{
        object-fit: cover;
        width: 300px;
        height: 40px;
        margin-top:50% !important;
        object-fit: cover;
      }

      h4{
        margin-top: 10% !important;
        font-weight: 400 !important;
        z-index: 1;
      }
    }

      .icons{
        display: flex;

      .icon{
          border: 2px solid $primary-shade;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: all .4s ease-in-out;
          cursor: pointer;
          &:hover{
              border: 2px solid $secondary;
              color: $secondary;
          }
          &:not(:last-child){
              margin-right: 1rem;
          }
          svg{
              margin: .5rem;
          }
      }

      .i-linkedin{
          &:hover{
              border: 2px solid $primary-shade-tint;
              color: $primary-shade-tint;
          }
      }
      .i-github{
          &:hover{
              border: 2px solid #5F4687;
              color: #5F4687;
          }
      }
  }
  
  }