.showBtn{
    margin-top: 4rem;
    margin-left: 9em;
    display: block;
    height: 80px;
    width: 250px;
    color: $primary;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: $secondary-shade;
}