.showBtn{
    // margin-top: 1rem;
    // margin-left: 7rem;
    display: block;
    height: 80px;
    width: 250px;
    color: $primary;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: $secondary-shade;
}