#sidebar{
    width: 16.3rem;
        position: fixed;
        height: 100vh;
        background-color: $primary;
        overflow: hidden;
        transition: all .4s ease-in-out;
        @media screen and (max-width:1200px){
            transform: translateX(-100%);
            z-index: 20;
}
}