.skill{
    .rounded{
        height: 8px;
        background-image: linear-gradient(to right, #16D9E3 , #46AEF7);
    }
    .img{
        height: 8px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    h3{
        margin-left: 17%;
        margin-top: 6%;
        padding-bottom: 4%;
    }
    .skills{
        justify-content: space-evenly;
    }
}