//  basic colors

$primary: #051B37;
$primary-shade: #082C59;
$primary-shade-tint: #85B6F4;
$secondary: #DB8800;
$secondary-shade: #FFB63D;
$secondary-shade-tint: #FFD694;
$white: #FFFFFF;
$dark: #151515;
$background: #051B38;


$transition-time: 0.15s;