
  .works-container {
    position: relative;
    // height: 100vh;
    justify-content: center;
    background-image: url('../assets/images/background.png');
    background-attachment: fixed;
    background-size: cover;

    .work{
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;

      .imgSide{
      max-height: 100%;
      width: 550px;
      margin-top: 30%;
      left: 50%;
      z-index: 0;
    }
    .foot{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .numText{        
        float: right;  
        font-weight: 400;   
    }
    
  }
    h1{
      position: absolute;
      display: block;
      z-index: 1;
    }
    
    .image{
      object-fit: cover;
      width: 300px;
      height: 40px;
      margin-top: 40%;
      object-fit: cover;
      z-index: 99;
    }
    h4{
    
      font-weight: 400 !important;
      z-index: 1;
    }
   
  }
  
  }