
  .works-container {
    // position: relative;
    background-color: $background;
    // opacity: 0.1;
    height: 100vh;
    
    .imgSide{
      max-height: 100%;
      width: 550px;
      /* right: 0; */
      float: right;
    }
  
    h1{
      // position: absolute;
       margin-top: 4rem;
       margin-left: 1em;
       letter-spacing: 3px;
      //  margin-right: 3em;
       display: block;
    }

    .image{
      // position: absolute;
      object-fit: cover;
      width: 300px;
      height: 40px;
      margin-left: 9rem;
      margin-top: 2em;
      object-fit: cover;
    }
    h4{
      // position: absolute;
      margin-left: 9rem;
      margin-top: 2em;
      font-weight: 400 !important;
    }
  
  }